.App {
  text-align: center;
}
body {
  background-color:  #FAF9F6;
}

.App-link {
  color: #61dafb;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust the spacing between Polaroids */
  justify-content: center; /* This centers the flex items (Polaroids) in the container */
  padding: 20px;
}

.polaroid {
  width: 200px;
  background: white;
  box-shadow: 0 0 10px rgba(193, 193, 193, 0.5);
  padding: 10px 10px 35px 10px;
  text-align: center;
}
.polaroid:hover {
  transform: scale(1.1); /* Scales the image to 110% of its original size on hover */
  transition: transform 0.2s ease-in-out; /* Smooth transition for the scaling effect */
}


.polaroid img {
  width: 100%; /* Makes image fill the frame */
  display: block; /* Removes bottom space under image*/
}


.navbar-brand {
  padding-top: .5rem; /* Adjust the padding to control the space above the logo */
}

.navbar-collapse {
  justify-content: center;
}

@media (min-width: 992px) { /* Adjustslarge screens */
  .navbar {
    flex-direction: column;
  }

  .navbar-collapse {
    flex-basis: auto;
  }
}
/* Mobile styles */
@media (max-width: 768px) {
  .polaroid {
    width: 130px; /* Example size for mobile */
    /* margin: 15px; Reduced margin for smaller screens */
   padding: 5px 5px 25px 5px;
  
  }

  /* If you want to change the gap between polaroids in mobile view */
  .gallery-container {
    gap: 0px; /* Smaller gap for mobile devices */
  }
}


/* Custom Navbar Styles */
.custom-navbar {
  background-color:  white; /* Replace with your desired color */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: black; /* Replace with your desired text color */
}

.custom-navbar .nav-link:hover {
  color: black; /* Replace with your desired hover text color */
}


/* Add this new grid layout style */
.gallery-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
  margin: auto;
  max-width: 1200px; /* or whatever max-width you prefer */
}

.film-vertical, .film-horizontal {
  position: relative;
  overflow: hidden;
}

.film-vertical img {
  width: auto;
  height: 100%;
  max-height: 400px; /* or your preferred height */
}

.film-horizontal img {
  width: 100%;
  height: auto;
  max-width: 400px; /* or your preferred width */
}

/* Optional: Add a hover effect for interactivity */
.film-vertical:hover img, .film-horizontal:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Styles for mobile devices */
@media (max-width: 768px) {
  .gallery-grid2 {
    grid-template-columns: repeat(3, 1fr); /* Force three items per row */
  }

  .film-vertical, .film-horizontal {
    overflow: hidden;
  }

  .film-vertical img, .film-horizontal img {
    max-height: 120px; /* Adjust as needed for your design */
  }
}


